{% extends "layouts/layout.html" %}

{% block header %}
        <!--? Hero Start -->
        <div class="slider-area">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>Chat bot</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!-- About Details Start -->
        <div class="about-details section-padding30">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="about-details-cap mb-50">
                            <h4>Chat Bot</h4>
                            <p>To provide a more accessible and easy way to get your farming information, we have made a chat bot that can be accessed via SMS messaging.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Details End -->
        <!--? About  Start-->
        <div class="about-area section-padding2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="about-caption mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-35">
                                <h2>Features</h2>
                            </div>
                            <p>What you can do with our chat bot.</p>
                            <ul>
                                <li><span class="flaticon-business"></span> Get alerts</li>
                                <li><span class="flaticon-communications-1"></span> Ask about weather and other related things</li>
                                <li><span class="flaticon-graduated"></span> See loctus maps</li>
                                <li><span class="flaticon-tools-and-utensils"></span> Much More</li>
                            </ul>
                            <a href="" class="btn">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Law End-->
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    {% endblock %}

    {% block content %}
    
    {% endblock %}
    