<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Grow N Track</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"type="text/javascript" charset="utf-8"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    
    
    <!-- CSS here -->
	<link rel="stylesheet" href="{{url_for('static', filename='assets/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{url_for('static', filename='assets/css/owl.carousel.min.css') }}">
	<link rel="stylesheet" href="{{url_for('static', filename='assets/css/slicknav.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='assets/css/flaticon.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='assets/css/gijgo.css') }}">
	<link rel="stylesheet" href="{{url_for('static', filename='assets/css/animate.min.css') }}">
	<link rel="stylesheet" href="{{url_for('static', filename='assets/css/magnific-popup.css') }}">
	<link rel="stylesheet" href="{{url_for('static', filename='assets/css/fontawesome-all.min.css') }}">
	<link rel="stylesheet" href="{{url_for('static', filename='assets/css/themify-icons.css') }}">
	<link rel="stylesheet" href="{{url_for('static', filename='assets/css/slick.css') }}">
	<link rel="stylesheet" href="{{url_for('static', filename='assets/css/nice-select.css') }}">
	<link rel="stylesheet" href="{{url_for('static', filename='assets/css/styl.css') }}">
  </head>
  <body>
    {% include "partials/header.html" %}

    {% include "partials/flash.html" %}

    {% block header %}{% endblock %}

    {% block content %}{% endblock %}

    {% include "partials/footer.html" %}

    <!-- Scripts for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
