{% extends "layouts/layout.html" %}

{% block header %}

<header>
  <!-- Header Start -->
  
<main>
  <!--? slider Area Start-->
  <div class="slider-area ">
      <div class="slider-active">
          <!-- Single Slider -->
          <div class="single-slider slider-height d-flex align-items-center">
              <div class="container">
                  <div class="row align-items-center">
                      <div class="col-xl-6 col-lg-7 col-md-8">
                          <div class="hero__caption">
                            <p>  
                            <h1>Helping African Farmers to easily and, efficient manage and, analyze their farm. </h1>
                            </p> 
                              <!-- Hero-btn -->
                              <div class="hero__btn">
                                  <a href="/dash" class="btn hero-btn"  data-animation="fadeInLeft" data-delay=".8s">Dashboard</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-6 col-lg-5">
                          <div class="hero-man d-none d-lg-block f-right" data-animation="jello" data-delay=".4s">
                              <img src="../../stati../../static/assets/img/hero/heroman.png" alt="African Lady Farmer Smiling">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Single Slider -->
      </div>
  </div>
  <!-- slider Area End-->
  <!--? Categories Area Start -->
  <div class="categories-area section-padding30">
      <div class="container">
          <div class="row justify-content-sm-center">
              <div class="cl-xl-7 col-lg-8 col-md-10">
                  <!-- Section Tittle -->
                  <div class="section-tittle text-center mb-70">
                      <span>Can we help you?</span>
                      <h2>Some ways we can help you !!</h2>
                  </div> 
              </div>
          </div>
          <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="single-cat mb-50">
                      <div class="cat-icon">
                          <span class="flaticon-web-design"></span>
                      </div>
                      <div class="cat-cap">
                          <h5>Easy to use UI</h5>
                          <p>Our UI is simple and easy to use for anyone.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="single-cat mb-50">
                      <div class="cat-icon">
                          <span class="flaticon-education"></span>
                      </div>
                      <div class="cat-cap">
                          <h5>What's the news ?</h5>
                          <p>Check out recent headlines in the farming world and stay connected to what's going on.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="single-cat mb-50">
                      <div class="cat-icon">
                          <span class="flaticon-communications"></span>
                      </div>
                      <div class="cat-cap">
                          <h5>SMS Chatbot</h5>
                          <p>You have a question ? Doubts ? or just want to lear ? Amazing our bots will help you with questions and send you alerts about incoming extreme-weather, and locust swarms.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="single-cat mb-50">
                      <div class="cat-icon">
                          <span class="flaticon-computing"></span>
                      </div>
                      <div class="cat-cap">
                          <h5>Acessible Web App</h5>
                          <p>Downloading apps are past ,Now your dashboard can be accessed online on any device, any where.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="single-cat mb-50">
                      <div class="cat-icon">
                          <span class="flaticon-tools-and-utensils"></span>
                      </div>
                      <div class="cat-cap">
                          <h5>Crop Recommendations </h5>
                          <h5>What is the best crop I can grow in my land ??</h5>
                          <p>Get crop recommendations based on your current location and climate.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="single-cat mb-50">
                      <div class="cat-icon">
                          <span class="flaticon-business"></span>
                      </div>
                      <div class="cat-cap">
                          <h5>Real-time Data</h5>
                          <p>Our locust maps, weather data, crop recommendations, headlines, and everything else, are updated in real-time so you don't need to refresh the page constantly.</p>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Section Button -->
      </div>
  </div>
  <!-- Categories Area End -->
  <!--? Count Down Start -->
  <!-- Popular Course End -->
  <!--? Team Ara Start -->
  <div class="team-area pt-160 pb-160 section-bg bg-purple" >
      <div class="container">
          <div class="row justify-content-center">
              <div class="cl-xl-7 col-lg-8 col-md-10">
                  <!-- Section Tittle -->
                  <div class="section-tittle section-tittle2 text-center mb-70">
                      <span><h3>Meet the Passionate Developers who made this possible for you</h3></span>
                      <h2>Developers</h2>
                  </div> 
              </div>
          </div>
          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="single-team mb-30">
                      <div class="team-img">
                          <img src="../../stati../../static/assets/img/gallery/team3.jpeg" alt="">
                          <!-- Blog Social -->
                          <ul class="team-social">
                              <li><a href="https://www.facebook.com/kartikagarwal07"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="https://twitter.com/kartikagarwal07"><i class="fab fa-twitter"></i></a></li>
                              <li><a href="http://www.kartikagrawal.in/"><i class="fas fa-globe"></i></a></li>
                          </ul>
                      </div>
                      <div class="team-caption">
                          <h3><a href="instructor.html">Kartik Agarwal</a></h3>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="single-team mb-30">
                      <div class="team-img">
                          <img src="../../stati../../static/assets/img/gallery/team2.jpeg" alt="">
                          <!-- Blog Social -->
                          <ul class="team-social">
                              <li><a href="https://www.linkedin.com/in/indrashis-mitra/"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="http://instagram.com/indrashis_mitra"><i class="fab fa-twitter"></i></a></li>
                              <li><a href="https://github.com/indrashismitra"><i class="fas fa-globe"></i></a></li>
                          </ul>
                      </div>
                      <div class="team-caption">
                          <h3><a href="instructor.html">Indrashis Mitra</a></h3>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="single-team mb-30">
                      <div class="team-img">
                          <img src="../../stati../../static/assets/img/gallery/team1.jpeg" alt="">
                          <!-- Blog Social -->
                          <ul class="team-social">
                              <li><a href="https://www.linkedin.com/in/anush-krishna-v-8270941a0/"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="https://github.com/anushkrishnav"><i class="fab fa-twitter"></i></a></li>
                              <li><a href="https://anushkrishnav.github.io/"><i class="fas fa-globe"></i></a></li>
                          </ul>
                      </div>
                      <div class="team-caption">
                          <h3><a href="instructor.html">Anush Krishna .V</a></h3>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="single-team mb-30">
                      <div class="team-img">
                          <img src="../../stati../../static/assets/img/gallery/team4.jpg" alt="">
                          <!-- Blog Social -->
                          <ul class="team-social">
                              <li><a href="https://www.instagram.com/chef.pourjafar/"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="https://www.linkedin.com/in/nima-pourjafar-8719a21a6/"><i class="fab fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fas fa-globe"></i></a></li>
                          </ul>
                      </div>
                      <div class="team-caption">
                          <h3><a href="instructor.html">Nima Pourjafar</a></h3>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Section Button -->
          <div class="row">
              <div class="col-lg-12">
                  <div class="browse-btn2 text-center mt-70">
                      <a href="/dev" class="btn white-btn">View Developers</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Team Ara End -->
<!-- Scroll Up -->
<div id="back-top" >
  <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>


{% endblock %}

{% block content %}

{% endblock %}
