{% extends "layouts/layout.html" %}

{% block header %}
    
{% endblock %}

{% block content %}

        <!--? Hero Start -->
        <div class="slider-area ">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>Locust Locator Map</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!-- all-course Start -->

        <section class="all-course section-padding30">
            <div class="container">
                <div class="row">
    <iframe class="map", src="https://www.arcgis.com/home/webmap/viewer.html?url=https://services5.arcgis.com/sjP4Ugu5s0dZWLjd/ArcGIS/rest/services/Swarms_Public/FeatureServer/0&source=sd" width="100%" height="900"></iframe>

                    <!-- inset map -->
                </div>
            </div>
        </section>
        <!-- all-course End -->
    
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>
{% endblock %}
