{% extends "layouts/layout.html" %}

{% block header %}

        <!--? Hero Start -->
        <div class="slider-area ">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>Developers</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--? Team Ara Start -->
        <div class="team-area pt-160 pb-160">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="../../static/assets/img/gallery/team4.jpg" alt="">
                                <!-- Blog Social -->
                                <ul class="team-social">
                                    <li><a href="https://www.instagram.com/chef.pourjafar/"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/nima-pourjafar-8719a21a6/"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fas fa-globe"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">Nima Pourjafar</a></h3>
                                <p>Frontend/Machine Learning Developer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="../../static/assets/img/gallery/team1.jpeg" alt="">
                                <!-- Blog Social -->
                                <ul class="team-social">
                                    <li><a href="https://www.linkedin.com/in/anush-krishna-v-8270941a0/"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://github.com/anushkrishnav"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://anushkrishnav.github.io/"><i class="fas fa-globe"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">Anush Krishna .V</a></h3>
                                <p>Backend, Feature & Framework Developer/</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="../../static/assets/img/gallery/team3.jpeg" alt="">
                                <!-- Blog Social -->
                                <ul class="team-social">
                                    <li><a href="https://www.facebook.com/kartikagarwal07"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://twitter.com/kartikagarwal07"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="http://www.kartikagrawal.in/"><i class="fas fa-globe"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">Kartik Agarwal</a></h3>
                                <p>Research & Content</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="../../static/assets/img/gallery/team2.jpeg" alt="">
                                <!-- Blog Social -->
                                <ul class="team-social">
                                    <li><a href="https://www.linkedin.com/in/indrashis-mitra/"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="http://instagram.com/indrashis_mitra"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://github.com/indrashismitra"><i class="fas fa-globe"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">Indrashis Mitra</a></h3>
                                <p>Research & Database</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team Ara End -->
        <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>


    {% endblock %}

    {% block content %}
    
    {% endblock %}
    